* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: inherit;
   box-sizing: border-box;
  
}

body {
  background: #fdfaf8;
}

.wrap {
  max-width: 100%;
  margin: 0 auto;
}

header {
  max-width: 100%;
  background: rgba(88, 57, 34, 0.81);
  opacity: .8;
  height: 100px; }

  header .head {
    margin: 0 auto;
    max-width: 1000px;
    color: #f7e4d6;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center; }

    header .head .gnb {
      width: 70%;
      display: flex;
      font-size: 1.2rem;
      justify-content: space-around;
      height: 50%;
      align-items: center; }

    header .head .gnb li {
      position: relative;
      width: 100%;
      text-align: center;
	  cursor: pointer;
     }
      header .head .gnb li a {
        transition-duration: .3s; }

    header .head .gnb li::after {
      content: ' ';
      width: 100%;
      height: 100%;
      max-width: 0;
	  background: -webkit-linear-gradient(left, rgba(247,228,214,1) 0%, rgba(239,201,179,0.9) 100%);
	  background: -o-linear-gradient(left, rgba(247,228,214,1) 0%, rgba(239,201,179,0.9) 100%);
	  background: linear-gradient(to right, rgba(247,228,214,1) 0%, rgba(239,201,179,0.9) 100%); /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7e4d6', endColorstr='#e6efc9b3',GradientType=1 ); /* IE6-9 */
      position: absolute;
      top: 0;
      left: 0;
      transition: max-width .3s;
}

    header .head .gnb li:hover::after {
      max-width: 100%;
      color: #583922; }

    header .head .gnb li:hover a {
      color: #583922;
      position: relative;
      z-index: 10; }
/*헤더헤더헤더 끝끝*/


/*컨컨텐텐츠츠*/


section {
	width: 1000px;
	margin: 0 auto;
/*	display: flex;*/
	margin-top: 20px;
}

section::after{
	content: '';
	display: block;
	clear: both;
}
section .company {
	width: 200px;
	transform:rotate(270deg);
	transform-origin: right;
	position: relative;
	font-size: 36px;
}
section .company p {
	color: #312f32;
}

section .company::after {
	content: '';
	top: 55%;
	bottom: 38%;
	left: 0;
	right: 0;
	/*	border: 1px solid red;*/
	position: absolute;
	background: #fdfaf8;
}

section .company-main {
	width: 720px;
	height: 600px;
	background-image: url(../img/company.jpg);
	background-size: cover;
	float: right;
	margin-right: 50px;
	position: relative;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
}
section .company-main::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 0;
}

section .company-main::after{
	content: '';
	border: 20px solid rgba(255, 255, 255, 0.95);
	position: absolute;
	top: 10%;
	left: 10%;
	bottom: 10%;
	right: 10%;
	transition: transform 1s;
}

.company-main:hover::after {
	transform:rotate3d(0,1,0,180deg);
}
.company-main:hover .company-title {
	transform: rotate3d(0,1,0,180deg);
	opacity: 0;
}
.company-title {
	width: 70%;
	height: 30%;
	font-size: 4rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	transition:opacity .3s ease .5s, transform 1s;
	position: relative;
	z-index: 3;

	
}
.company-title p {
	font-size: 2rem;
}

.company-main:hover .company-sub {
	opacity: 1;
	transform: rotate3d(0,1,0,360deg);
	
}
.company-sub {
	transform: rotate3d(0,1,0,180deg);
	position: absolute;
	opacity: 0;
	transition: transform 1s, opacity .3s ease .5s;
}



/*푸푸푸푸푸푸푸푸푸풒터터터터터터ㅓㅌ*/
footer {
	margin-top: 50px;
	max-width: 100%;
	height: 150px;
	background: #af9d8f;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.foot {
	width: 1000px;
	height: 100px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	font-size: 0.8rem;
}

.foot .ft-top {
	width: 80%;
	display: flex;
	justify-content: space-around;
}

.foot .ft-mid {
	width: 50%;
	display: flex;
	justify-content: space-around;
}
.foot p {
	width: 80%;
	text-align: center;
}