* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	color: inherit;
	box-sizing: border-box;
	font-family: 'Noto Sans', sans-serif;

}

body {
	background: #fdfaf8;
}

.wrap {
	max-width: 100%;
	margin: 0 auto;
}

header {
	max-width: 100%;
	background: rgba(88, 57, 34, 0.81);
	opacity: .8;
	height: 100px;
}

header .head {
	margin: 0 auto;
	max-width: 1000px;
	color: #f7e4d6;
	display: flex;
	height: 100%;
	justify-content: space-between;
	align-items: center;
}

header .head .gnb {
	width: 70%;
	display: flex;
	font-size: 1.2rem;
	justify-content: space-around;
	height: 50%;
	align-items: center;
}

header .head .gnb li {
	position: relative;
	width: 100%;
	text-align: center;
	cursor: pointer;
}

header .head .gnb li a {
	transition-duration: .3s;
}

header .head .gnb li::after {
	content: ' ';
	width: 100%;
	height: 100%;
	max-width: 0;
	background: -webkit-linear-gradient(left, rgba(247, 228, 214, 1) 0%, rgba(239, 201, 179, 0.9) 100%);
	background: -o-linear-gradient(left, rgba(247, 228, 214, 1) 0%, rgba(239, 201, 179, 0.9) 100%);
	background: linear-gradient(to right, rgba(247, 228, 214, 1) 0%, rgba(239, 201, 179, 0.9) 100%);
	/* Chrome10-25,Safari5.1-6 */
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7e4d6', endColorstr='#e6efc9b3', GradientType=1);
	/* IE6-9 */
	position: absolute;
	top: 0;
	left: 0;
	transition: max-width .3s;
}

header .head .gnb li:hover::after {
	max-width: 100%;
	color: #583922;
}

header .head .gnb li:hover a {
	color: #583922;
	position: relative;
	z-index: 10;
}

/*헤더헤더헤더 끝끝*/

/*컨컨텐텐츠츠*/

section {
	width: 1000px;
	margin: 0 auto;
	/*	display: flex;*/
	margin-top: 20px;
	position: relative;
	overflow: hidden;
}

section::after {
	content: '';
	display: block;
	clear: both;
}
li {
	cursor: pointer;
}
/*lnb 시작시작시작*/
.lnb {
	position: absolute;
	top: 50px;
	width: 7rem;
	transform: translate(0,-50%);
	opacity: 0;
	transition: all .5s ease .8s; 
}
/*
.lnb::after {
	content: '';
	width: 5px;
	height: calc(100% - 5px);
	background: rgba(50, 101, 49, 0.9);
	position: absolute;
	top: 0;
	left: calc(50% - 2.5px);
	z-index: -1;
	
}
*/
.lnb_main {
	display: flex;
	flex-direction: column;
	color: #fdfaf8;
	font-size: 1.1rem;
	font-weight: 600;
	
}
.lnb_main_item {
	flex: 1;
	text-align: center;
	line-height: 2rem;
	margin-bottom: 5px;
}
.lnb_main_item >a {
	width: 100%;
	height: 100%;
	display: inline-block;
	background: #014b00;
}


.lnb_sub {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	display: none;
	background:  #fdfaf8;
	color: #027201;
	margin-top: 3px;
	overflow: hidden;
}


.lnb_sub_item {
	font-size: 1rem;
	position: relative;
	z-index: 1;
	width: 100%;
	font-weight:600;
	transition: 350ms cubic-bezier(0.04, 0.72, 0.48, 1.65);
}

.lnb_sub_item::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	transform: translate(-100%);
	background: repeating-linear-gradient(45deg, rgba(10, 139, 8, 0.7) 0, rgba(10, 139, 8, 0.7) 50px, #fdfaf8 0,#fdfaf8 100px);
}

.lnb_sub_item::before {
	content: attr(data-split);
	position: absolute;
	top:0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 5;
/*
	width: 100%;
	height: 100%;
*/
	overflow: hidden;
/*	color: #fdfaf8;*/
	color: transparent;
	white-space: nowrap;
	transform: translate(-100%);
	background: repeating-linear-gradient(45deg, #fdfaf8 0,#fdfaf8 50px, rgba(10, 139, 8, 0.7) 0, rgba(10, 139, 8, 0.7) 100px);
/*	-webkit-text-fill-color: transparent;*/
	-webkit-background-clip: text;
	
/*	transition:.3s;*/
}
.lnb_sub_item:hover {
	transform: translate(100%);
}


/*lnb 끝끝*/


/*서브 컨텐츠 시작시작*/

section .company {
	text-align: center;
	width: 250px;
	transform: rotate(270deg);
	transform-origin: right;
	position: relative;
	font-size: 36px;
}

section .company p {
	opacity: 0;
	transition: all .5s ease .5s;
	color: #312f32;
}

section .company::after {
	content: '';
	top: 54%;
	bottom: 35%;
	left: 0;
	right: 0;
	position: absolute;
	background: #fdfaf8;
}

section .company-main {
	width: 720px;
	height: 600px;
	background-image: url(../img/company.jpg);
	background-size: cover;
	float: right;
	position: relative;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transform: translate(30%,0);
	transition: all .8s;

}

section .company-main::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.1);
	z-index: 0;
}

section .company-main::after {
	content: '';
	border: 70px solid rgba(255, 255, 255, 0.45);
	background-color: rgba(0, 0, 0, 0.75);
/*	filter: blur(5px);*/
	background-clip:content-box;
	position: absolute;
	top: 10%;
	left: 10%;
	bottom: 10%;
	right: 10%;
	transition: all 1s;
}

.company-main:hover::after {
	transform: rotate3d(0, 1, 0, 180deg);
	border-width: 40px;
}

.company-main:hover .company-title {
	transform: rotate3d(0, 1, 0, 180deg);
	opacity: 0;
}

.company-title {
	width: 70%;
	height: 30%;
	font-size: 4rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	transition: opacity .3s ease .4s, transform 1s;
	position: relative;
	z-index: 3;
	color: white;
}

.company-title p {
	font-size: 2rem;

}

.company-main:hover .company-sub {
	opacity: 1;
	transform: rotate3d(0, 1, 0, 360deg);

}

.company-sub {
	transform: rotate3d(0, 1, 0, 180deg);
	position: absolute;
	opacity: 0;
	transition: transform 1s, opacity .3s ease .4s;
	color: white;
	z-index: 3;
}



/*푸푸푸푸푸푸푸푸푸풒터터터터터터ㅓㅌ*/

footer {
	margin-top: 50px;
	max-width: 100%;
	height: 150px;
	background: #af9d8f;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.foot {
	width: 1000px;
	height: 100px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	font-size: 0.8rem;
}

.foot .ft-top, .foot .ft-mid {
	width: 80%;
	display: flex;
	justify-content: space-around;
}

.foot .ft-mid {
	width: 50%;
}

.foot p {
	width: 80%;
	text-align: center;
}
